* {
    margin: 0px;
    padding: 0px;
    font-family: Lato;
    font-style: normal;
}

/* header section */


.header-section {
    height: 100vh;
    padding-left: 150px;
    padding-right: 30px;
    padding-top: 30px ;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 92px;
    background-color: rgba(229, 84, 115, 0.1);

}


.header-discription h6 {
    color: #272727;
    font-size: 50px;
    font-weight: 900;
}

.header-discription p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 636px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.primary-btn {
    padding: 15px 25px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;

}

.button{
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 10px;
    border-color: #272727;
    box-shadow: 5px 5px 5px gray;
    background-color: rgba(194, 103, 201, 0.5);
    
}

.header-img {
    width: 400px;
    height: 616px;
    margin-bottom: 0px;

}


/* main section */
.banner {
    margin: 178px 240px 128px 240px;
}

.banner h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.banner p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}



.flowers-pictures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.flowers-pictures h5 {
    text-align: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: larger;
    /* font-weight:100px; */
    text-decoration-line: underline;
    margin-top: 25px;
}

.images {
    width: 250px;
    height: 385px;
}

.flower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 385px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 0;
    padding: 30px 25px 0px 25px;

}

.flower-1 {
    background: rgba(5, 151, 160, 0.15);

}

.flower-2 {
    background: rgba(71, 125, 17, 0.15);
}

.picture-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.sign-btn {
    margin-left: 210px;
}

.sign-up-section>h4 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.sign-up-section p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 30px;
}

.red-rose {
    width: 230px;
    height: 290px;
}

.hot-deal {
    height: 500px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.Instagram>h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.Instagram p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 30px;
}

.insta-images {
    width: 230px;
    height: 260px;
}

.insta-pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* margin-bottom: 128px; */
}

.latest-deal {
    margin-top: 80px;
    margin-left: 190px;
    margin-right: 190px;
    height: 449px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 70px;

}

.latest-deal p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.latest-deal h2 {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.submit-box {
    width: 400px;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-right: 5px;
}

footer {
    height: 250px;
    background: #111010;
    color: #FFF;
    text-align: center;
    padding-top: 110px;

}

.color-font {
    color: #E55473;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 10px;
}

footer h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
footer small{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.phone-icon{
    width: 70px;
    height: 70px;
}
.contact-info{
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(109, 59, 116, 0.5);
    padding: 10px;
    margin-top: -130px;
    margin-bottom: 80px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
}
.number{
    display: flex;
    align-items: center;
    
}
.social-media h6{
         font-size: xx-large;
         font-weight: 300;
}
.contact-info{
   
}
.link{
  text-align: center;
  margin-top: 5px;

}